@model ChangePasswordModel

@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Alterar senha";
}

<div class="center">
    <div class="form-container">
        <div>
            <img src="~/image/logo.png" alt="Logo" width="140" height="130">
        </div>
        <form asp-controller="User" asp-action="Change" method="post">
            <br>
            <h3 align=center>Alterar senha</h3>
            <br>
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close">X</button>
                    @TempData["ErrorMessage"]
                </div>
            }
            <div class="form-floating">
                <input asp-for="CurrentPassword" type="password" class="form-control" placeholder="Senha">
                <label for="floatingCurrentPassword">Senha atual</label>
                @Html.ValidationMessageFor(x => x.CurrentPassword, null, new { @class = "red-text" })
            </div>
            <div class="form-floating">
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="Senha">
                <label for="floatingNewPassword">Nova senha</label>
                @Html.ValidationMessageFor(x => x.NewPassword, null, new { @class = "red-text" })
            </div>
            <div class="form-floating">
                <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="Senha">
                <label for="floatingConfirmNewPassword">Repita nova senha</label>
                @Html.ValidationMessageFor(x => x.ConfirmNewPassword, null, new { @class = "red-text" })
            </div>
            <button type="submit" class="btn btn-primary">Confirmar</button>
            <br>
            <div align=center>
                <a asp-controller="User" asp-action="MyData" style="text-decoration:none">Voltar</a>
            </div>
        </form>
    </div>
</div>
