@model UserModel

@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Cadastre-se";
}

<div class="center">
    <div class="form-container">
        <div>
            <img src="~/image/logo.png" alt="Logo" width="140" height="130">
        </div>
        <form asp-controller="User" asp-action="RegisterUser" method="post">
            <br>
            <h3 align=center>Cadastre-se</h3>
            <br>
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close">X</button>
                    @TempData["ErrorMessage"]
                </div>
            }
            <div class="form-floating">
                <input asp-for="Name" type="text" class="form-control" placeholder="Nome">
                <label for="floatingName">Digite seu Nome</label>
                @Html.ValidationMessageFor(x => x.Name, null, new { @class = "red-text" })
            </div>
            <div class="form-floating">
                <input asp-for="Email" type="text" class="form-control" placeholder="Email">
                <label for="floatingInput">Digite seu E-mail</label>
                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "red-text" })
            </div>
            <div class="form-floating">
                <input asp-for="Password" type="password" class="form-control" placeholder="Senha">
                <label for="floatingPassword">Digite sua Senha</label>
                @Html.ValidationMessageFor(x => x.Password, null, new { @class = "red-text" })
            </div>
            <button type="submit" class="btn btn-primary">Confirmar</button>
            <br>
            <div align=center>
                <a asp-controller="Home" asp-action="Index" style="text-decoration:none">Voltar</a>
            </div>
        </form>
    </div>
</div>
