@model UserModel

@{
    ViewData["Title"] = "Meu cadastro";
}
<div class="data">
    <h3 align=center>Meus Dados</h3>
    <br>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close">X</button>
            @TempData["SuccessMessage"]
        </div>
    }
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" arial-label="Close">X</button>
            @TempData["ErrorMessage"]
        </div>
    }
    <p>Nome: @Model.Name</p>
    <p>E-mail: @Model.Email</p>
    <p>Senha: ********</p>
    <a asp-area="" asp-controller="User" asp-action="ChangePasswordScreen" style="text-decoration:none">Alterar senha</a>
    <br>
    <a asp-area="" asp-controller="User" asp-action="UserDeletionScreen" style="text-decoration:none">Excluir conta</a>
</div>
