@model LoginModel
@{
    Layout = "_LayoutEmpty";
    ViewData["Title"] = "Entrar na sua conta";
}

<div class="center">
    <div class="form-container">
        <div>
            <img src="~/image/logo.png" alt="Logo" width="140" height="130">
        </div>
        <br>
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        <form asp-controller="Login" asp-action="Access" method="post">
            <h3 align=center>Fazer Login</h3>
            <div class="form-floating">
                <input asp-for="Email" type="text" class="form-control" placeholder="Email">
                <label for="floatingInput">Digite seu E-mail</label>
                @Html.ValidationMessageFor(x => x.Email, null, new { @class = "erro-message" })
            </div>
            <div class="form-floating">
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                <label for="floatingPassword">Digite sua Senha</label>
                @Html.ValidationMessageFor(x => x.Password, null, new { @class = "erro-message" })
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
            <div align=center>
                <a asp-controller="User" asp-action="Index" style="text-decoration:none">Não possui conta? Cadastre-se</a>
            </div>
        </form>
    </div>
</div>
