@model UserModel

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="candara">
            <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Olá, @Model.Name</a>
        </li>
    </ul>
    <div class="navbar-brand">
        <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="EndSession">Sair</a>
    </div>
</div>